/*External CSS  */
body {
  font-size: 1em;
  color: #444;
  /*    this is a shade of black*/
  font-family: Verdana;
}
a {
  color: #444;
  text-decoration: none;
}
header {
  background-color: #000;
  /* this is jsut black*/
  padding: 3em;
}
header .menu {
  margin: 0;
  list-style:none
}
header .menu li {
  display: inline;
}
header .menu li a {
  color: white;
}